/* display_properties.css */

/* Display type */
.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.none {
    display: none;
}

/* Visibility */
.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

/* Overflow */
.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-visible {
    overflow: visible;
}
